.switch {
  position: relative;
  height: 110px;
  width: 100%;
  border-radius: 10px;
  border-color: #bbb;
  border-style: solid;
  background: #ccc;
  color: white;
  padding: 0;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.disabled {
  opacity: 0.5;
}
.switch.active {
  background: blue;
}
.slider {
  position: absolute;
  border-radius: 5px;
  width: calc(50% - 20px);
  top: 10px;
  left: 20px;
  bottom: 10px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch.active > .slider {
  transform: translate(100%);
}
