.full-button {
  height: 100%;
  margin: 0px;
}

.devices-container {
  display: inline;
}

.device-name{
  text-align:center;
}

.device-container {
  display:flex;
  flex-flow: column;
  margin: 30px;
  padding: 0px;
  height: 100px;
  width: 300px;
  float: left;
  background: #ddd;
}
