.device-header {
  position: relative;
  height: 50px;
}
.full-button {
  height: 110px;
  border-radius: 10px;
  border-color: rgb(0, 0, 100);
  background: rgb(121, 121, 248);
  color: white;
  padding: 0;
}
.full-button.active {
  background: blue;
}
.full-button.disabled {
  opacity: 0.2;
  cursor: not-allowed;
}
.button-text {
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 30px;
  margin: auto;
}
.devices-container {
  display: inline;
}
.device-header {
  position: relative;
  height: 40px;
}
.device-name {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  font-size: 25px;
  text-align: center;
}
.device-container {
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  margin: 30px;
  padding: 0px;
  height: 150px;
  width: 300px;
  float: left;
  background: #ddd;
}
.options-button {
  position: absolute;
  bottom: 0px;
  right: 10px;
  height: 41px;
  width: 40px;
  padding: 3px;
  padding-bottom: 13px;
  top: 0;
  z-index: 2;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0)
}
.options-button.active {
  background: #ccc;
  border-style: solid solid hidden solid;
  border-color: #000;
}
.options-dropDown {
  display: none;
  background: #ccc;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  position: absolute;
  right: 0px;
  top: 40px;
  z-index: 1;
}
.options-dropDown.visible{
  display: inline;
}
