.full-button {
  height: 100%;
  margin: 0px;
  border-radius: 10px;
  border-color: rgb(0, 0, 131);
  background: rgb(121, 121, 248);
  font-size: 30px;
  color: #fff;
}

.full-button.active {
  background: rgb(0, 0, 255);
}

.devices-container {
  display: inline;
}

.device-name {
  text-align: center;
}

.device-container {
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  margin: 30px;
  padding: 0px;
  height: 150px;
  width: 300px;
  float: left;
  background: #eee;
}
